spring:
  application:
    name: oburus-api

  datasource:
    # Yerelde localhost, Docker içinde 'db' ana bilgisayarını kullanır
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/oburus
    # pgAdmin görselindeki 'Owner' bilgisine göre kullanıcıyı güncelledik
    username: ${DB_USER:postgres}
    # Şifre isteğine göre 123 olarak ayarlandı
    password: ${DB_PASS:123}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    # Hibernate 6+ otomatik algılama yaptığı için database-platform kaldırıldı
    hibernate:
      # Yeni kolonların (price_range vb.) otomatik oluşması için update modunda
      ddl-auto: ${DDL_AUTO:update}
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: true

  neo4j:
    # Yerelde localhost, Docker içinde 'neo4j' ana bilgisayarını kullanır
    uri: ${NEO4J_URI:bolt://localhost:7687}
    authentication:
      username: ${NEO4J_USER:neo4j}
      password: ${NEO4J_PASS:oburus_pass}

recommender:
  # Yerelde localhost, Docker içinde 'recommender' ana bilgisayarını kullanır
  base-url: ${RECO_URL:http://localhost:8000}
  max-candidates: 200

jwt:
  secret: ${JWT_SECRET:THIS_IS_A_VERY_LONG_SECRET_KEY_256_BITS_MINIMUM_FOR_HS256_SIGNING}
  expiration: ${JWT_EXPIRATION:3600000}

server:
  port: ${PORT:3000}